#block-header {
  border-bottom: 2px solid #333;
  font-size: 20px;
}
#standard-button,
.standard-button,
.add-to-collection .collect-this {
  background: #f2f2f2;
  border: 1px solid rgba(0,0,0,0.33);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset;
  color: #333;
  font-weight: bold;
  padding: 4px 10px;
  text-shadow: 0 1px 0 #fff;
}
#standard-button:disabled,
.standard-button:disabled,
.add-to-collection .collect-this:disabled {
  background-color: #d9d9d9;
  color: #999;
  cursor: auto;
}
#standard-button:hover,
.standard-button:hover,
.add-to-collection .collect-this:hover {
  border-color: rgba(0,0,0,0.67);
}
#standard-button:hover:disabled,
.standard-button:hover:disabled,
.add-to-collection .collect-this:hover:disabled {
  border-color: rgba(0,0,0,0.33);
}
#standard-button:active,
.standard-button:active,
.add-to-collection .collect-this:active,
#standard-button.selected,
.standard-button.selected,
.add-to-collection .collect-this.selected {
  box-shadow: 0 100px 0 rgba(0,0,0,0.1) inset, 0 1px 3px rgba(0,0,0,0.25) inset;
}
#standard-button:active:disabled,
.standard-button:active:disabled,
.add-to-collection .collect-this:active:disabled,
#standard-button.selected:disabled,
.standard-button.selected:disabled,
.add-to-collection .collect-this.selected:disabled {
  box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset;
}
#bold-button,
.bold-button {
  background: linear-gradient(#3bf, #0089cd);
  border: 1px solid rgba(0,0,0,0.67);
  border-radius: 15px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.33) inset, 0 1px 0 rgba(255,255,255,0.33);
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.25em;
  padding: 3px 15px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.67);
}
#bold-button:hover,
.bold-button:hover {
  box-shadow: 0 100px 0 rgba(255,255,255,0.125) inset, 0 1px 0 rgba(255,255,255,0.33);
  text-decoration: none;
}
#bold-button:active,
.bold-button:active {
  box-shadow: 0 100px 0 rgba(0,0,0,0.125) inset, 0 1px 3px rgba(0,0,0,0.67) inset, 0 1px 0 rgba(255,255,255,0.33);
}
#rule-below,
.add-to-collection .collection-list ul li,
h2 {
  position: relative;
}
#rule-below:after,
.add-to-collection .collection-list ul li:after,
h2:after {
  border-bottom: 1px solid #fff;
  border-top: 1px solid rgba(0,0,0,0.125);
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
#rule-left {
  position: relative;
}
#rule-left:before {
  border-right: 1px solid #fff;
  border-left: 1px solid rgba(0,0,0,0.125);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.columns .column {
  box-sizing: border-box;
  float: left;
  padding-left: 30px;
}
.columns .column:first-child {
  padding-left: 0;
}
.columns .column.one-third {
  width: 33%;
}
.columns .column.two-thirds {
  width: 67%;
}
.columns .column.one-half {
  width: 50%;
}
.timestamp {
  position: relative;
}
.timestamp:hover .shown {
  display: none;
}
.timestamp:hover .on-hover {
  display: inline;
}
.timestamp .on-hover {
  display: none;
  width: 100%;
}
.add-to-collection {
  position: absolute;
  top: 10px;
  left: 10px;
}
.add-to-collection .collect-this {
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  color: #000;
  opacity: 0.6;
}
.add-to-collection .collection-list {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 5px -3px #000;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 5;
  min-width: 150px;
  max-width: 300px;
}
.add-to-collection .collection-list ul {
  margin: 0;
  padding: 0;
}
.add-to-collection .collection-list ul li {
  cursor: pointer;
  list-style: none;
  padding: 3px 10px;
}
.add-to-collection .collection-list ul li:last-child:after {
  display: none;
}
.add-to-collection .collection-list ul li:hover {
  background: #3bf;
  color: #fff;
}
.add-to-collection .collection-list ul li a {
  color: inherit;
}
.add-to-collection .collection-list ul li a:hover {
  text-decoration: none;
}
html {
  background: #f2f2f2;
  color: #333;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
}
body {
  margin: 0 0 0 10px;
  height: 100%;
}
h2 {
  color: #3bf;
  font-size: 20px;
  margin: 20px 0 20px;
  padding-bottom: 5px;
}
h3 {
  border-bottom: 2px solid;
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0;
  padding-bottom: 5px;
}
h2 .aux,
h3 .aux {
  float: right;
  font-size: 12px;
  margin-top: 5px;
}
h4 {
  margin: 10px 0;
}
hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.125);
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}
.none {
  color: #999;
  font-style: italic;
}
button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}
button:disabled {
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none;
}
input,
textarea {
  background: #fff;
  border: 1px solid #999;
  box-shadow: 0 1px 0 #fff;
  font: inherit;
  padding: 5px;
}
img.thin-frame {
  border: 1px solid #fff;
  box-shadow: 0 1px 2px -1px #000;
  box-sizing: border-box;
}
a {
  color: #3bf;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#app {
  margin: 0 auto;
  max-width: 1000px;
}
body > footer {
  background: #d9d9d9;
  clear: both;
  color: #999;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  margin-top: -50px;
  text-align: center;
}
body > footer .logo {
  margin-top: -5px;
  vertical-align: middle;
}
body > footer p {
  margin: 0;
}
.content-container {
  clear: both;
  display: block;
}
.language-options {
  width: 200px;
  margin: 0px 10px 10px 0px;
  display: inline-block;
}
.language-options h3 {
  font-size: 16px;
  padding-bottom: 0;
  border: none;
  color: rgba(0,0,0,0.4);
}
.language-options ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 3px;
  -webkit-margin-after: 3px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}
.language-options li {
  font-size: 14px;
}
