form
  clearfix()
  border-bottom: 1px solid $blue
  padding: 15px 10px 15px 0px
  margin: 0 auto
  display: inline-block
  width: 31%

  &:hover
    background: #fafafa

  p
    margin: 4px 0

  label
    display: block
    padding: 3px 0px

  textarea
    display: block
    box-sizing: border-box
    height: 140px
    margin: 5px 0 0 0
    padding: 3px
    width: 100%

  button
    background: rgba(#000, 0.5)
    color: #fff
    float: right
    font-weight: 700
    margin: 0 0 0 5px
    padding: 4px 7px
    text-shadow: 0 1px 0 rgba(#000, 0.5)

    &:hover
      background: rgba(#000, 0.7)

.user-options
    clear: both
    width: 100%
    text-align: left
    display: block
    border-bottom: 1px solid #3bf
    padding-bottom: 8px